<app-leftpanel></app-leftpanel>
<div id="editUser">
  <div id="content">
    <div class="panel">
      <div class="title">
        <div>
          <i class="far fa-pen"></i>
          <div>Dane użytkownika</div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <div>
          <i class="far fa-pen"></i>
          <div>Pojazdy</div>
        </div>
      </div>
    </div>
  </div>
  <div id="buttons">
    <div id="acceptButton">
      Aktualizuj
    </div>
    <div id="cancelButton">
      Anuluj
    </div>
    <div id="deleteButton">
      Usuń
    </div>
    <div id="resetButton">
      Resetuj hasło
    </div>
  </div>
</div>
