<app-leftpanel></app-leftpanel>
<div class="popup" *ngIf="popupReset" >
  <div class="popup-title">
    Uwaga
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Czy na pewno chcesz zresetować hasło tego użytkownika?
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="resetPassword()">
      Tak
    </div>
    <div class="popup-red" (click)="popupReset=false">
      Nie
    </div>
  </div>
</div>
<div [ngClass]="popupReset==true ? 'shutItDown' : ''"></div>
<div class="popup" *ngIf="popupDelete" >
  <div class="popup-title">
    Uwaga
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Czy na pewno chcesz usunąć tego użytkownika?
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="deleteUser()">
      Tak
    </div>
    <div class="popup-red" (click)="popupDelete=false">
      Nie
    </div>
  </div>
</div>
<div [ngClass]="popupDelete==true ? 'shutItDown' : ''"></div>
<div class="popup" *ngIf="popupOk" >
  <div class="popup-title">
    Komunikat
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    {{ popupText }}
  </div>
  <div class="popup-footer">
      <div class="popup-green" (click)="popupOk=false" [routerLink]="['/users']">
        Ok
      </div>
  </div>
</div>
<div [ngClass]="popupOk==true ? 'shutItDown' : ''"></div>
<div class="popup" *ngIf="popupFail" >
  <div class="popup-title">
    Error
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Wystąpił błąd.
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popupFail=false">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popupFail==true ? 'shutItDown' : ''"></div>
<div class="main" *ngIf="userInfo">
  <div id="content">
    <div class="panel" >
      <div class="title">
        <i class="far fa-user"></i>
        Dane użytkownika
      </div>
      <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
      <div class="logo" [ngStyle]="{'background-image': 'url('+userInfo.image+')'}">
        <div (click)="fileInput.click()">
          <i class="far fa-pen"></i>
          Edytuj zdjęcie
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-user"></i>
          <input type="text" placeholder="Imię i nazwisko" title="Tylko litery, dwa człony, od 2 do 30 znaków." value="{{userInfo.name}}" #name>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-phone"></i>
          <input type="text" placeholder="Telefon" title="9 cyfr bez spacji, znaków specjalnych i numeru kierunkowego." value="{{userInfo.phoneNumber}}" #phone>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <i class="far fa-car"></i>
        Pojazdy
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-search"></i>
          <input type="text" placeholder="Szukaj">
        </div>
      </div>
    </div>
  </div>
  <div id="buttons">
    <div id="acceptButton" (click)="sendData(name, phone)">
      Aktualizuj
    </div>
    <a [routerLink]="['/users']" >
      <div id="cancelButton">
        Anuluj
      </div>
    </a>
    <div id="deleteButton" (click)="popupDelete=true">
      Usuń
    </div>
    <div id="resetButton" (click)="popupReset=true">
      Resetuj hasło
    </div>
  </div>
</div>
