<app-leftpanel></app-leftpanel>
<div id="editUser">
  <div id="content">
    <div class="panel" *ngIf="userInfo">
      <div class="title">
        <i class="far fa-user"></i>
        Dane użytkownika
      </div>
      <div class="logo" [ngStyle]="{'background-image': 'url('+userInfo.image+')'}">
        <div>
          <i class="far fa-pen"></i>
          Edytuj zdjęcie
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-user"></i>
          <input type="text" placeholder="Imię i nazwisko" value="{{userInfo.name}}">
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-phone"></i>
          <input type="text" placeholder="Telefon" value="{{userInfo.telephone}}">
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <i class="far fa-car"></i>
        Pojazdy
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-search"></i>
          <input type="text" placeholder="Szukaj">
        </div>
      </div>
    </div>
  </div>
  <div id="buttons">
    <div id="acceptButton">
      Aktualizuj
    </div>
    <a [routerLink]="['/users']">
      <div id="cancelButton">
        Anuluj
      </div>
    </a>
    <div id="deleteButton">
      Usuń
    </div>
    <div id="resetButton">
      Resetuj hasło
    </div>
  </div>
</div>
