<app-leftpanel></app-leftpanel>
<div id="vehicles">
  <div id="searchBar">
    <div id="searchBarWrapper">
      <i class="far fa-search"></i>
      <input type="text" placeholder="Szukaj">
    </div>
  </div>

  <div id="table">
    <table>
      <tr id="firstRow">
        <td>Pojazd</td>
        <td>Marka</td>
        <td>Model</td>
        <td>Dystans dzisiaj</td>
        <td>Status</td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="auto">
            <img src="https://upload.wikimedia.org/wikipedia/en/7/7d/Lenna_%28test_image%29.png">
            <div class="vehicle">
                DWL5639
            </div>
          </div>
        </td>
        <td>Ford</td>
        <td>Focus</td>
        <td>65.5 km</td>
        <td>Nieaktywny</td>
        <td><i class="far fa-pen"></i></td>
      </tr>
      <tr>
        <td>
          <div class="auto">
            <img src="https://upload.wikimedia.org/wikipedia/en/7/7d/Lenna_%28test_image%29.png">
            <div class="vehicle">
              DWL5639
            </div>
          </div>
        </td>
        <td>Ford</td>
        <td>Focus</td>
        <td>65.5 km</td>
        <td>Nieaktywny</td>
        <td><i class="far fa-pen"></i></td>
      </tr>
      <tr>
        <td>
          <div class="auto">
            <img src="https://upload.wikimedia.org/wikipedia/en/7/7d/Lenna_%28test_image%29.png">
            <div class="vehicle">
              DWL5639
            </div>
          </div>
        </td>
        <td>Ford</td>
        <td>Focus</td>
        <td>65.5 km</td>
        <td>Nieaktywny</td>
        <td><i class="far fa-pen"></i></td>
      </tr>
      <tr>
        <td>
          <div class="auto">
            <img src="https://upload.wikimedia.org/wikipedia/en/7/7d/Lenna_%28test_image%29.png">
            <div class="vehicle">
              DWL5639
            </div>
          </div>
        </td>
        <td>Ford</td>
        <td>Focus</td>
        <td>65.5 km</td>
        <td>Nieaktywny</td>
        <td><i class="far fa-pen"></i></td>
      </tr>
      <tr>
        <td>
          <div class="auto">
            <img src="https://upload.wikimedia.org/wikipedia/en/7/7d/Lenna_%28test_image%29.png">
            <div class="vehicle">
              DWL5639
            </div>
          </div>
        </td>
        <td>Ford</td>
        <td>Focus</td>
        <td>65.5 km</td>
        <td>Nieaktywny</td>
        <td><i class="far fa-pen"></i></td>
      </tr>
      <tr>
        <td>
          <div class="auto">
            <img src="https://upload.wikimedia.org/wikipedia/en/7/7d/Lenna_%28test_image%29.png">
            <div class="vehicle">
              DWL5639
            </div>
          </div>
        </td>
        <td>Ford</td>
        <td>Focus</td>
        <td>65.5 km</td>
        <td>Nieaktywny</td>
        <td><i class="far fa-pen"></i></td>
      </tr>
    </table>
  </div>
  <div id="pages">
    <div id="pagesWrapper">
      <i class="far fa-chevron-double-left"></i>
      <i class="far fa-chevron-left"></i>
      <div id="pagesText">
        strona x z X
      </div>
      <i class="far fa-chevron-right"></i>
      <i class="far fa-chevron-double-right"></i>
    </div>
  </div>
</div>
