<app-leftpanel></app-leftpanel>
<div class="main">
  <div id="searchBar">
    <div id="searchBarWrapper">
      <i class="far fa-search"></i>
      <input type="text" placeholder="Szukaj" (keydown.enter)="list(1, search.value)" #search>
    </div>
  </div>

  <div class="no-data" *ngIf="!complete">
    <div class="lds-dual-ring"></div>
  </div>

  <div class="no-data" *ngIf="complete && !listOfDevicesWrapper">
    Brak pojazdów.
  </div>

  <div id="table">
    <table *ngIf="complete && listOfDevicesWrapper">
      <tr id="firstRow">
        <td>Pojazd</td>
        <td>Marka</td>
        <td>Model</td>
        <td>Dystans dzisiaj</td>
        <td>Status</td>
        <td></td>
      </tr>
      <tr *ngFor="let device of listOfDevicesWrapper.listOfDevices">
        <td>
          <div class="auto">
            <img src="{{device.image}}" alt="avatar">
            <div class="vehicle">
                {{device.licensePlate}}
            </div>
          </div>
        </td>
        <td>{{device.brand}}</td>
        <td>{{device.model}}</td>
        <td>{{device.distance / 1000 | number : '1.2-2'}} km</td>
        <td [ngClass]="{'activetd':device.status === 'Aktywny'}">{{device.status}}</td>
        <td><a [routerLink]="['/editVehicle/'+device.id+'/']"><i class="far fa-pen"></i></a></td>
      </tr>
    </table>
  </div>
  <div id="pages">
    <div id="pagesWrapper" *ngIf="listOfDevicesWrapper">
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(1, search.value)" class="far fa-chevron-double-left"></i>
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(this.page-1, search.value)" class="far fa-chevron-left"></i>
      <div id="pagesText">
        strona {{page}} z {{pageMax}}
      </div>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.page+1, search.value)"  class="far fa-chevron-right"></i>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.pageMax, search.value)"  class="far fa-chevron-double-right"></i>
    </div>
  </div>
</div>
