<app-leftpanel></app-leftpanel>
<div id="users">
  <div id="searchBar">
    <div id="searchBarWrapper">
      <i class="far fa-search"></i>
      <input type="text" placeholder="Szukaj" (keydown.enter)="list(1, search.value)" #search>
    </div>
  </div>

  <div id="table">
    <table *ngIf="listOfUser">
      <tr id="firstRow">
        <td>Kierowca</td>
        <td>Status</td>
        <td>Dystans dzisiaj</td>
        <td>Godzina startu</td>
        <td>Godzina zakończenia</td>
        <td></td>
      </tr>
      <tr *ngFor="let user of listOfUser.listOfUsers">
        <td>
          <div class="driver">
            <img src="{{user.image}}">
            <div>
              <div class="name">
                {{user.name}} {{user.surname}}
              </div>
              <div class="vehicle">
                {{user.licensePlate}}
              </div>
            </div>
          </div>
        </td>
        <td>{{user.status}}</td>
        <td>{{user.distance}} km</td>
        <td>{{user.startTime}}</td>
        <td>{{user.finishTime}}</td>
        <td><a [routerLink]="['/editUser/'+user.id+'/']"><i class="far fa-pen"></i></a></td>
      </tr>
    </table>
  </div>
  <div id="pages">
    <div id="pagesWrapper" *ngIf="listOfUser">
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(1, search.value)" class="far fa-chevron-double-left"></i>
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(this.page-1, search.value)" class="far fa-chevron-left"></i>
      <div id="pagesText">
        strona {{page}} z {{pageMax}}
      </div>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.page+1, search.value)"  class="far fa-chevron-right"></i>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.pageMax, search.value)"  class="far fa-chevron-double-right"></i>
    </div>
  </div>
</div>
