<app-leftpanel></app-leftpanel>
<div [ngClass]="addUserPopup==true ? 'shutItDown' : ''"></div>
<div class="main">
  <div id="searchBar">
    <div id="searchBarWrapper">
      <i class="far fa-search"></i>
      <input type="text" placeholder="Szukaj" (keydown.enter)="list(1, search.value)" #search>
    </div>
  </div>

  <div class="header">
    <div id="generate-button" (click)="addUserPopup=true">
      Nowy użytkownik
    </div>
  </div>

  <div class="no-data" *ngIf="!complete">
    <div class="lds-dual-ring"></div>
  </div>

  <div class="no-data" *ngIf="complete && !listOfUser">
    Brak użytkowników.
  </div>

  <div id="table">
    <table *ngIf="complete && listOfUser">
      <thead>
        <tr id="firstRow">
          <td>Kierowca</td>
          <td>Status</td>
          <td>Dystans dzisiaj</td>
          <td>Godzina startu</td>
          <td>Ostatnia aktywność</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listOfUser.listOfUsers">
          <td class="firstColumn">
            <div class="driver">
              <img *ngIf="user.image" src="{{user.image}}" alt="avatar">
              <div class="no-image" *ngIf="!user.image"> </div>
              <div>
                <div class="name">
                  {{user.name}} {{user.surname}}
                </div>
                <div class="vehicle">
                  {{user.licensePlate === '' ? '------' : user.licensePlate}}
                </div>
              </div>
            </div>
          </td>
          <td [ngClass]="{'activetd':user.status === 'Aktywny'}">{{user.status}}</td>
          <td>{{user.distance / 1000 | number : '1.2-2'}} km</td>
          <td>{{user.startTime === -1 ? '------' : user.startTime * 1000 | date:'HH:mm'}}</td>
          <td>{{user.finishTime === -1 ? '------' : user.finishTime * 1000 | date:'dd.MM.yyyy HH:mm'}}</td>
          <td><a [routerLink]="['/tracks/'+user.id+'/']"><i class="far fa-road"></i></a></td>
          <td><a [routerLink]="['/editUser/'+user.id+'/']"><i class="far fa-pen"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="pages">
    <div id="pagesWrapper" *ngIf="listOfUser">
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(1, search.value)" class="far fa-chevron-double-left"></i>
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(this.page-1, search.value)" class="far fa-chevron-left"></i>
      <div id="pagesText">
        strona {{page}} z {{pageMax}}
      </div>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.page+1, search.value)"  class="far fa-chevron-right"></i>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.pageMax, search.value)"  class="far fa-chevron-double-right"></i>
    </div>
  </div>
</div>
<app-add-user [(popup)]="addUserPopup"></app-add-user>
