<div class="popup" *ngIf="popup_">
  <div class="header">
    <div class="user-popup-title">
      Punktacja kierowcy {{userPoints?.name}}:
    </div>
    <div class="searchBar">
      <div class="inputWrapper">
        <i class="far fa-calendar-alt"></i>
        <input type="date" [(ngModel)]="dateToValue" (change)="list()">
      </div>
      <div class="inputDivider">
        -
      </div>
      <div class="inputWrapper">
        <i class="far fa-calendar-alt"></i>
        <input type="date" [(ngModel)]="dateFromValue" (change)="list()">
      </div>
    </div>
    <div class="cancel-button" (click)="closeWindow()">
      <i class="fal fa-times"></i>
    </div>
  </div>
  <div id="no-data" *ngIf="userPoints?.listOfDays.length === 0">
    Brak powiadomień w danym przedziale czasowym.
  </div>
  <div class="panel">
    <div id="table">
      <table *ngIf="userPoints?.listOfDays.length !== 0">
        <tr id="firstRow">
          <td>Data</td>
          <td>Ocena</td>
          <td>Liczba tras</td>
          <td>Średnie spalanie</td>
          <td>Średnie obroty</td>
          <td>Średnia prędkość</td>
          <td>Dystans</td>
        </tr>
        <tr *ngFor="let day of userPoints?.listOfDays">
          <td>{{day.date * 1000 | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td>
            <div [ngClass]="{'grade-bad':day.ecoPoints < 2.5, 'grade-medium':day.ecoPoints >= 2.5 && day.ecoPoints < 3.5, 'grade-good':day.ecoPoints >= 3.5}">
              <div class="grade-text">
                {{day.ecoPoints}}
              </div>
            </div>
          </td>
          <td>{{day.tracks}}</td>
          <td>{{day.combustion}} l</td>
          <td>{{day.revolution}} RPM</td>
          <td>{{day.speed}} km/h</td>
          <td>{{day.distance / 1000 | number : '1.2-2'}} km</td>
        </tr>
      </table>
    </div>
  </div>
</div>
