<div class="popup" *ngIf="popup">
  <div class="header">
    <div class="user-popup-title">
      Punktacja kierowcy Julia Mróz
    </div>
    <div class="searchBar">
      <div class="inputWrapper">
        <i class="far fa-calendar-alt"></i>
        <input type="date">
      </div>
      <div class="inputDivider">
        -
      </div>
      <div class="inputWrapper">
        <i class="far fa-calendar-alt"></i>
        <input type="date">
      </div>
    </div>
    <div class="cancel-button" (click)="closeWindow()">
      <i class="fal fa-times"></i>
    </div>
  </div>
  <!--
  <div id="no-data" *ngIf="!listOfTracks">
    Brak powiadomień w danym przedziale czasowym.
  </div>
  -->
  <div class="panel">
    <div id="table">
      <table>
        <tr id="firstRow">
          <td>Data</td>
          <td>Ocena</td>
          <td>Liczba tras</td>
          <td>Średnie spalanie</td>
          <td>Średnie obroty</td>
          <td>Średnia prędkość</td>
          <td>Dystans</td>
        </tr>
        <tr>
          <td>25.12.1976</td>
          <td>
            <div class="grade-good">
              <div class="grade-text">
                2.6
              </div>
            </div>
          </td>
          <td>5</td>
          <td>12 l</td>
          <td>3242 RPM</td>
          <td>45 km/h</td>
          <td>2324 km</td>
        </tr>
        <tr>
          <td>25.12.1976</td>
          <td>
            <div class="grade-good">
              <div class="grade-text">
                2.6
              </div>
            </div>
          </td>
          <td>5</td>
          <td>12 l</td>
          <td>3242 RPM</td>
          <td>45 km/h</td>
          <td>2324 km</td>
        </tr>
        <tr>
          <td>25.12.1976</td>
          <td>
            <div class="grade-good">
              <div class="grade-text">
                2.6
              </div>
            </div>
          </td>
          <td>5</td>
          <td>12 l</td>
          <td>3242 RPM</td>
          <td>45 km/h</td>
          <td>2324 km</td>
        </tr>
        <tr>
          <td>25.12.1976</td>
          <td>
            <div class="grade-good">
              <div class="grade-text">
                2.6
              </div>
            </div>
          </td>
          <td>5</td>
          <td>12 l</td>
          <td>3242 RPM</td>
          <td>45 km/h</td>
          <td>2324 km</td>
        </tr>
        <tr>
          <td>25.12.1976</td>
          <td>
            <div class="grade-good">
              <div class="grade-text">
                2.6
              </div>
            </div>
          </td>
          <td>5</td>
          <td>12 l</td>
          <td>3242 RPM</td>
          <td>45 km/h</td>
          <td>2324 km</td>
        </tr>
        <tr>
          <td>25.12.1976</td>
          <td>
            <div class="grade-good">
              <div class="grade-text">
                2.6
              </div>
            </div>
          </td>
          <td>5</td>
          <td>12 l</td>
          <td>3242 RPM</td>
          <td>45 km/h</td>
          <td>2324 km</td>
        </tr>
      </table>
    </div>
  </div>
</div>
