<app-leftpanel></app-leftpanel>
<div class="main">
  <div class="searchBar">
    <div class="inputWrapper">
      <i class="far fa-calendar-alt"></i>
      <input type="date" [(ngModel)]="dateToValue" (change)="list(1)">
    </div>
    <div class="inputDivider">
      -
    </div>
    <div class="inputWrapper">
      <i class="far fa-calendar-alt"></i>
      <input type="date" [(ngModel)]="dateFromValue" (change)="list(1)">
    </div>
  </div>

  <div class="no-data" *ngIf="!complete">
    <div class="lds-dual-ring"></div>
  </div>

  <div id="no-data" *ngIf="complete && !Warnings">
    Brak powiadomień w danym przedziale czasowym.
  </div>

  <div id="table">
    <table *ngIf="complete && Warnings">
      <thead>
        <tr id="firstRow">
          <td class="col-notification">
            Awaria / Naprawa
          </td>
          <td>Kierowca</td>
          <td>Czas</td>
          <td>Lokalizacja</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warning of Warnings.listOfNotification">
          <td>
            <div class="alert-pink">
              <i class="far fa-ban"></i>
              <span>
                {{warning.value}}
              </span>
            </div>
          </td>
          <td>
            <div class="driver">
              <div>
                <div class="name">
                  {{warning.userName}}
                </div>
                <div class="vehicle">
                  {{warning.deviceLicensePlate}}
                </div>
              </div>
            </div>
          </td>
          <td>{{warning.date * 1000 | date:'dd.MM.yyyy HH:mm'}}</td>
          <td>{{!warning.locationEncoded ? "Wczytywanie..." : warning.locationEncoded}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="pages">
    <div id="pagesWrapper" *ngIf="Warnings">
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(1)" class="far fa-chevron-double-left"></i>
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(this.page-1)" class="far fa-chevron-left"></i>
      <div id="pagesText">
        strona {{page}} z {{pageMax}}
      </div>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.page+1)"  class="far fa-chevron-right"></i>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.pageMax)"  class="far fa-chevron-double-right"></i>
    </div>
  </div>

</div>
