<div class="popup" *ngIf="popup_">
  <div class="header">
    <div class="user-popup-title">
      Ostrzeżenia kierowcy {{userPoints?.name}}:
    </div>
    <div class="searchBar">
      <div class="inputWrapper">
        <i class="far fa-calendar-alt"></i>
        <input type="date" [(ngModel)]="dateToValue" (change)="list()">
      </div>
      <div class="inputDivider">
        -
      </div>
      <div class="inputWrapper">
        <i class="far fa-calendar-alt"></i>
        <input type="date" [(ngModel)]="dateFromValue" (change)="list()">
      </div>
    </div>
    <div class="cancel-button" (click)="closeWindow()">
      <i class="fal fa-times"></i>
    </div>
  </div>
  <div id="no-data" *ngIf="userPoints?.listOfOffencess.length === 0">
    Brak powiadomień w danym przedziale czasowym.
  </div>
  <div class="panel">
    <div id="table">
      <table *ngIf="userPoints?.listOfOffencess.length !== 0">
        <tr id="firstRow">
          <td class="col-notification">
            Powiadomienie
          </td>
          <td>Czas</td>
          <td>Lokalizacja</td>
        </tr>
        <tr *ngFor="let off of userPoints?.listOfOffencess">
          <td>
            <div class="alert-pink">
              <i class="far fa-ban"></i>
              <span>
              {{off.value}}
            </span>
            </div>
          </td>
          <td>{{off.time | date:'dd.MM.yyyy HH:mm'}}</td>
          <td>{{off.location}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
