<app-leftpanel></app-leftpanel>
<div id="tracks">
  <div id="title" *ngIf="listOfTracks">
    Trasy kierowcy {{listOfTracks.user}}:
  </div>
  <div class="searchBar">
    <div class="inputWrapper">
      <i class="far fa-calendar-alt"></i>
      <input type="date" [(ngModel)]="dateToValue" (change)="list(1)">
    </div>
    <div class="inputDivider">
      -
    </div>
    <div class="inputWrapper">
      <i class="far fa-calendar-alt"></i>
      <input type="date" [(ngModel)]="dateFromValue" (change)="list(1)">
    </div>
  </div>
  <div id="no-tracks" *ngIf="!listOfTracks">
    Brak tras w danym przedziale czasowym.
  </div>
  <div id="table">
    <table *ngIf="listOfTracks">
      <tr id="firstRow">
        <td>Skąd</td>
        <td>Dokąd</td>
        <td>Godzina startu</td>
        <td>Godzina zakończenia</td>
        <td>Dystans</td>
        <td></td>
      </tr>
      <tr *ngFor="let track of listOfTracks.listOfTracks">
        <td>{{track.from}}</td>
        <td>{{track.to}}</td>
        <td>{{track.start * 1000 | date:'HH:mm'}}</td>
        <td>{{track.end == 0 ? '------' : track.end * 1000 | date:'HH:mm'}}</td>
        <td>{{track.distance / 1000 | number : '1.2-2'}} km</td>
        <td><a [routerLink]="['/map/' + id +' /'+ datePipe.transform(track.start*1000, 'yyyy-MM-dd')]"><i class="far fa-road"></i></a></td>
      </tr>
    </table>
  </div>
  <div id="pages">
    <div id="pagesWrapper" *ngIf="listOfTracks">
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(1)" class="far fa-chevron-double-left"></i>
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(this.page-1)" class="far fa-chevron-left"></i>
      <div id="pagesText">
        strona {{page}} z {{pageMax}}
      </div>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.page+1)"  class="far fa-chevron-right"></i>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.pageMax)"  class="far fa-chevron-double-right"></i>
    </div>
  </div>
</div>
