@import "./../../styles.scss";

#mapContainer {
  width: 85%;
  height: 100vh;
  float: left;
  box-sizing: border-box;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
}

#map {
  height: 100vh;
}

#popup {
  @include manropeFont(500, 20px);
  padding: 25px;
  background-color: $ColorGrayLight;
  border-radius: 10px;
  color: $ColorGrayDark;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.4));
}

#chooserWrapper {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 900;
}

.inputWrapper {
  float: none;
  position: relative;
  margin-top: 20px;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.4));
}

.inputWrapper > input, .inputWrapper > .select {
  @include manropeFont(normal, 18px);
  color: $ColorGrayDark;
  padding: 10px 5px 10px 50px;
  background: $ColorWhite;
  border-radius: 10px;
  border: 0;
  width: 350px;
  box-sizing: border-box;
}

.inputWrapper > i {
  position: absolute;
  color: $ColorGrayDark;
  top: 16px;
  left: 15px;
}

.selectOption {
  @include manropeFont(normal, 18px);
  color: $ColorGrayDark;
  padding: 10px 0 10px 0;
  background: $ColorWhite;
  border: 0;
  width: 350px;
  box-sizing: border-box;
  cursor: pointer;
}
.selectOption > img {
  width: 18px;
  height: 18px;
  border-radius: 11px;
  margin-left: 13px;
  margin-right: 16px;
}

.selectOption:hover {
  background-color: $ColorGrayBlueishHover;
}

.selectOptions {
  position: absolute;
  overflow: hidden;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  z-index: 100;
  max-height: 600px;
  overflow-y: scroll;
}

.popupOpen {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.selectOptions::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.selectOptions {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
