@import "./../../styles.scss";

#mapContainer {
  width: 85%;
  height: 100vh;
  float: left;
  box-sizing: border-box;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
}

#map {
  height: 100vh;
}

#popup {
  @include manropeFont(500, 20px);
  padding: 25px;
  background-color: $ColorGrayLight;
  border-radius: 10px;
  color: $ColorGrayDark;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.4));
}
