<app-leftpanel></app-leftpanel>
<div class="main">
  <div class="searchBar">
    <div class="inputWrapper">
      <i class="far fa-calendar-alt"></i>
      <input type="date" [(ngModel)]="dateToValue" (change)="list(1)">
    </div>
    <div class="inputDivider">
      -
    </div>
    <div class="inputWrapper">
      <i class="far fa-calendar-alt"></i>
      <input type="date" [(ngModel)]="dateFromValue" (change)="list(1)">
    </div>
  </div>
  <div id="hello" *ngIf="summary">
    Witaj ponownie {{ summary.name.split(" ")[0] }}!
  </div>

  <div class="panel" *ngIf="summary">
    <div class="row">
      Ocena ekojazdy:
    </div>
    <div class="row row-center">
      <div [ngClass]="{'grade-none':summary.ecoPoints === 0.0, 'grade-bad':summary.ecoPoints > 0.0 && summary.ecoPoints < 2.5, 'grade-medium':summary.ecoPoints >= 2.5 && summary.ecoPoints < 3.5, 'grade-good':summary.ecoPoints >= 3.5}">
        <div class="grade-text">
          {{ summary.ecoPoints | number : '1.1-1'}}
        </div>
      </div>
    </div>
    <div class="row row-center">
      Pozycja w rankingu: {{ summary.ecoRankingPosition }}
    </div>
  </div>

  <div class="panel" *ngIf="summary">
    <div class="row">
      Ocena bezpieczeństwa:
    </div>
    <div class="row row-center">
      <div [ngClass]="{'grade-none':summary.safetyPoints === 0.0, 'grade-bad':summary.safetyPoints > 0.0 && summary.safetyPoints < 2.5, 'grade-medium':summary.safetyPoints >= 2.5 && summary.safetyPoints < 3.5, 'grade-good':summary.safetyPoints >= 3.5}">
        <div class="grade-text">
          {{ summary.safetyPoints | number : '1.1-1'}}
        </div>
      </div>
    </div>
    <div class="row row-center">
      Pozycja w rankingu: {{ summary.safetyRankingPosition }}
    </div>
  </div>

  <div class="no-data" *ngIf="complete && summary.listOfTracks.length === 0">
    Brak tras.
  </div>

  <div id="table">
    <table *ngIf="complete && summary.listOfTracks.length > 0">
      <thead>
        <tr id="firstRow">
          <td>Ocena ekojazdy</td>
          <td>Ocena bezpieczeństwa</td>
          <td>Liczba wykroczeń</td>
          <td>Skąd</td>
          <td>Dokąd</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of summary.listOfTracks">
          <td>
            <div [ngClass]="{'grade-none':track.ecoPoints === 0.0, 'grade-bad':track.ecoPoints > 0.0 && track.ecoPoints < 2.5, 'grade-medium':track.ecoPoints >= 2.5 && track.ecoPoints < 3.5, 'grade-good':track.ecoPoints >= 3.5}">
              <div class="grade-text">
                {{track.ecoPoints | number : '1.1-1'}}
              </div>
            </div>
          </td>
          <td>
            <div [ngClass]="{'grade-none':track.safetyPoints === 0.0, 'grade-bad':track.safetyPoints > 0.0 && track.safetyPoints < 2.5, 'grade-medium':track.safetyPoints >= 2.5 && track.safetyPoints < 3.5, 'grade-good':track.safetyPoints >= 3.5}">
              <div class="grade-text">
                {{track.safetyPoints | number : '1.1-1'}}
              </div>
            </div>
          </td>
          <td>
            <div class="name">
              {{track.listOfOffencess.length}}
            </div>
          </td>
          <td>{{!track.locationFromL ? "Wczytywanie..." : track.locationFromL}}</td>
          <td>{{!track.locationToL ? "Wczytywanie..." : track.locationToL}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="pages" *ngIf="complete && summary.listOfTracks.length > 0">
    <div id="pagesWrapper">
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(1)" class="far fa-chevron-double-left"></i>
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(this.page-1)" class="far fa-chevron-left"></i>
      <div id="pagesText">
        strona {{page}} z {{pageMax}}
      </div>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.page+1)"  class="far fa-chevron-right"></i>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.pageMax)"  class="far fa-chevron-double-right"></i>
    </div>
  </div>
</div>
