<div class="popup" *ngIf="popupOk" >
  <div class="popup-title">
    Komunikat
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Pomyślnie dodano nowe zdarzenie.
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popupOk=false">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popupOk==true ? 'shutItDown' : ''"></div>
<div class="popup" *ngIf="popupFail" >
  <div class="popup-title">
    Error
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Wystąpił błąd.
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popupFail=false">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popupFail==true ? 'shutItDown' : ''"></div>
<div class="popup" [ngStyle]="{'display': popup ? 'block' : 'none' }">
  <div class="header">
    <div class="event-popup-title">
      Nowe zdarzenie
    </div>
    <div class="cancel-button" (click)="closeWindow()">
      <i class="fal fa-times"></i>
    </div>
    <div class="event-popup-line"></div>
  </div>

  <div class="panel">
    <div class="inputWrapper inputWrapperMargin">
      <i class="far fa-pen"></i>
      <input type="text" placeholder="Nazwa" #name>
    </div>
    <div class="inputWrapper inputWrapperMargin">
      <i class="far fa-pen"></i>
      <textarea placeholder="Opis" #description></textarea>
    </div>
    <div class="inputWrapper inputWrapperMargin">
      <i class="far fa-calendar-alt"></i>
      <input type="date" [(ngModel)]="dateFromValue" #datefrom>
    </div>
    <div class="inputWrapper inputWrapperMargin">
      <i class="far fa-calendar-alt"></i>
      <input type="date" [(ngModel)]="dateToValue" #dateto>
    </div>
    <div class="inputWrapper inputWrapperMargin">
      <i class="far fa-info-circle"></i>
    </div>
    <div class="comboBoxWrapper inputWrapperMargin">
      <select #type>
        <option value="" disabled selected hidden>Typ</option>
        <option value="jeden">Opcja pierwsza</option>
        <option value="dwa">Opcja druga</option>
        <option value="trzy">Opcja trzecia</option>
      </select>
      <i class="fal fa-chevron-down"></i>
    </div>
    <div class="inputWrapper" (click)="popupOn ? disablePopup() : showPopup()">
      <i *ngIf="!selected" class="far fa-car"></i>
      <img *ngIf="selected" src="{{selected.image}}" class="avatar" alt="img">
      <div class="select"  #popupTrigger>
        {{ selected ? selected.name : "Wybierz pojazd" }}
      </div>
    </div>
    <div class="selectOptions" *ngIf="popupOn" [ngStyle]="{'width': popupTrigger.offsetWidth+'px' }">
      <div *ngFor="let name of names">
        <div class="selectOption" (click)="chooseOption(name.id, name.name, name.image)">
          <img src="{{name.image}}" alt="avatar">
          {{name.name}}
        </div>
      </div>
    </div>
    <div class="event-popup-text inputWrapperMargin">
      Przypomnienie:
      <input class="checkbox" type="checkbox" [(ngModel)]="checkbox">
    </div>
  </div>
  <div class="popup-green" (click)="sendForm(name, description, type, datefrom, dateto, popupTrigger)">
    Utwórz
  </div>
</div>

