<div class="popup" *ngIf="popupOk" >
  <div class="popup-title">
    Komunikat
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Pomyślnie dodano nowe zdarzenie.
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popupOk=false">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popupOk==true ? 'shutItDown' : ''"></div>
<div class="popup" *ngIf="popupFail" >
  <div class="popup-title">
    Error
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Wystąpił błąd.
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popupFail=false">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popupFail==true ? 'shutItDown' : ''"></div>
<div class="popup" *ngIf="popup">
  <div class="header">
    <div class="event-popup-title">
      Nowe zdarzenie
    </div>
    <div class="cancel-button" (click)="closeWindow()">
      <i class="fal fa-times"></i>
    </div>
    <div class="event-popup-line"></div>
  </div>
  <div class="panel">
    <div class="editContent">
      <div class="inputWrapper">
        <i class="far fa-pen"></i>
        <input type="text" placeholder="Nazwa" #name>
      </div>
    </div>
    <div class="editContent">
      <div class="inputWrapper">
        <i class="far fa-pen"></i>
        <textarea placeholder="Opis" #description></textarea>
      </div>
    </div>
    <div class="editContent">
      <div class="inputWrapper">
        <i class="far fa-calendar-alt"></i>
        <input type="date" [(ngModel)]="dateFromValue" #datefrom>
      </div>
    </div>
    <div class="editContent">
      <div class="inputWrapper">
        <i class="far fa-calendar-alt"></i>
        <input type="date" [(ngModel)]="dateToValue" #dateto>
      </div>
    </div>
    <div class="editContent2">
      <div class="inputWrapper">
        <i class="far fa-info-circle"></i>
      </div>
      <div class="comboBoxWrapper">
        <select #type>
          <option value="" disabled selected hidden>Typ</option>
          <option value="jeden">Opcja pierwsza</option>
          <option value="dwa">Opcja druga</option>
          <option value="trzy">Opcja trzecia</option>
        </select>
        <i class="fal fa-chevron-down"></i>
      </div>
    </div>
    <div class="editContent2">
      <div class="inputWrapper">
        <i class="far fa-car"></i>
        <div class="select" (click)="showPopup()"  #popupTrigger>
          Wybierz pojazd
        </div>
      </div>
      <div class="selectOptions" *ngIf="popupOn" #popupMenu>
        <div *ngFor="let name of names">
          <div class="selectOption" (click)="chooseOption(name.id, name.name)">
            <img src="{{name.image}}" alt="avatar">
            {{name.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="editContent2">
      <div class="event-popup-text">
        Przypomnienie:
        <input class="checkbox" type="checkbox">
      </div>
    </div>
  </div>
  <div class="popup-green">
    Utwórz
  </div>
</div>

