@import "./../../styles.scss";

#map {
  height: 100vh;
}

#popup {
  @include manropeFont(500, 1.11rem);
  padding: 1.39rem;
  background-color: $ColorGrayLight;
  border-radius: 0.56rem;
  color: $ColorGrayDark;
  filter: drop-shadow(0.28rem 0.28rem 1.11rem rgba(0, 0, 0, 0.4));
}

#chooserWrapper {
  position: fixed;
  top: 2.22rem;
  right: 2.22rem;
  z-index: 900;
}

.inputWrapper {
  float: none;
  position: relative;
  margin-top: 0.56rem;
  filter: drop-shadow(0.28rem 0.28rem 1.11rem rgba(0, 0, 0, 0.4));
}

.inputWrapper > input, .inputWrapper > .select {
  @include manropeFont(normal, 1rem);
  color: $ColorGrayDark;
  padding: 0.56rem 0.28rem 0.56rem 2.78rem;
  background: $ColorWhite;
  border-radius: 0.56rem;
  border: 0;
  width: 19.44rem;
  box-sizing: border-box;
}

.inputWrapper > i {
  position: absolute;
  color: $ColorGrayDark;
  top: 0.89rem;
  left: 0.83rem;
  font-size: 1rem;
}

.selectOption {
  @include manropeFont(normal, 1rem);
  color: $ColorGrayDark;
  padding: 0.56rem 0 0.56rem 0;
  background: $ColorWhite;
  border: 0;
  width: 19.44rem;
  box-sizing: border-box;
  cursor: pointer;
}
.selectOption > img {
  width: 1rem;
  height: 1rem;
  border-radius: 0.61rem;
  margin-left: 0.72rem;
  margin-right: 0.89rem;
}

.selectOption:hover {
  background-color: $ColorGrayBlueishHover;
}

.selectOptions {
  position: absolute;
  overflow: hidden;
  border-bottom-right-radius: 0.56rem !important;
  border-bottom-left-radius: 0.56rem !important;
  z-index: 100;
  max-height: 33.33rem;
  overflow-y: scroll;
}

.popupOpen {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.selectOptions::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.selectOptions {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.chooserEntityWrapper {
  float: none;
  position: relative;
  margin-top: 1.11rem;
  filter: drop-shadow(0.28rem 0.28rem 1.11rem rgba(0, 0, 0, 0.4));
  cursor: pointer;
}

.chooserEntityWrapper > input, .chooserEntityWrapper > .select {
  @include manropeFont(normal, 1rem);
  color: $ColorGrayDark;
  padding: 0.56rem 2.78rem 0.56rem 2.78rem;
  background-image: url("../../assets/tab.png");
  background-size: 100% 100%;
  border-radius: 0.56rem;
  border: 0;
  width: 19.44rem;
  box-sizing: border-box;
  overflow: hidden;
}

.chooserEntityWrapper > .users-icon {
  position: absolute;
  color: $ColorGrayDarkHover;
  top: 0.89rem;
  left: 0.83rem;
  font-size: 1rem;
}

.chooserEntityWrapper > .cars-icon {
  position: absolute;
  color: $ColorGrayDark;
  top: 0.89rem;
  right: 0.83rem;
  font-size: 1rem;
}

.users {
  float: left;
  color: $ColorGrayDarkHover;
}

.devices {
  float: right;
}
