<app-leftpanel></app-leftpanel>
<div class="main-map">
  <div id="map" class="map">
    <div [innerHTML]="popupik" id="popup">
    </div>
  </div>
  <div id="chooserWrapper">
    <div [routerLink]="['/map']" class="chooserEntityWrapper">
      <i class="far fa-user users-icon"></i>
      <div class="select">
        <div class="users">
          Kierowcy
        </div>
        <div class="devices">
          Pojazdy
        </div>
      </div>
      <i class="far fa-car cars-icon"></i>
    </div>
    <div class="inputWrapper">
      <i class="far fa-search"></i>
      <input type="text" placeholder="Szukaj" (keyup)="regexChanged(search.value)" #search>
    </div>
    <div class="inputWrapper">
      <i class="far fa-car"></i>
      <div class="select" (click)="showPopup()"  #popupTrigger>
        Wybierz pojazd
      </div>
    </div>
    <div class="selectOptions" *ngIf="popupOn" #popupMenu>
      <div *ngFor="let name of names">
        <div class="selectOption" (click)="chooseOption(name.id, name.name, date)">
          <img src="{{name.image}}" alt="avatar">
          {{name.name}}
        </div>
      </div>
    </div>
    <div class="inputWrapper">
      <i class="far fa-calendar-alt"></i>
      <input type="date" (change)="changeMap()" [(ngModel)]="dateValue" max="{{maxDate | date:'y-M-d'}}" #date>
    </div>
  </div>
</div>
