<div id="leftPanel" [ngClass]="mobileMenuFlag ? '' : 'hideMenu'">
  <div id="leftPanelWrapper" *ngIf="pageService.loginStatus">
    <div id="panelLogo"><i (click)="mobileMenu()" *ngIf="mobileMenuFlag" class="mobileMenu far fa-times"></i><i (click)="mobileMenu()" *ngIf="!mobileMenuFlag" class="mobileMenu far fa-ellipsis-v"></i> </div>
    <div id="menu">
      <a [routerLink]="[option.link]" routerLinkActive="activeMenuItem" *ngFor="let option of options">
      <div class="menuItem" *ngIf="option.rbac.includes(pageService.loginStatus.rbac)" >
        <i [class]="option.classes"></i>
        {{ option.title }}
      </div>
      </a>
    </div>
    <div id="leftPanelFooter">
      <a [routerLink]="[option.link]" *ngFor="let option of bottomMenu">
        <i [class]="option.classes" *ngIf="option.rbac.includes(pageService.loginStatus.rbac)"></i>
      </a>
      <a (click)="logout()">
        <i class="far fa-sign-out"></i>
      </a>
    </div>
  </div>
</div>
