@import "./../../styles.scss";

#leftPanel {
  background: $ColorGrayDark;
  height: 100vh;
  width: 15%;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

#leftPanelWrapper {
  width: 100%;
  position: relative;
  height: 100%;
}

#panelLogo {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 40px;
}

.menuItem {
  color: $ColorWhite;
  @include manropeFont(500, 18px);
  line-height: 30px;
  padding: 10px 15px;
  border-radius: 16px;
  cursor: pointer ;
  margin-bottom: 5px;
}

.menuItem > i {
  color: $ColorGrayBlueish;
  margin-right: 25px;
}

.menuItem:hover {
  background-color: $ColorGrayHover;
}

.activeMenuItem > div {
  background-color: $ColorGrayHover;
}

#leftPanelFooter {
  position: absolute;
  bottom: 40px;
  left: 0;
  text-align: center;
  width: 100%;
}

#leftPanelFooter > a >  i {
  font-size: 30px;
  color: $ColorGrayBlueish;
  margin: 0 30px;
  cursor: pointer;
}

#leftPanelFooter > a > i:hover {
  color: $ColorGrayBlueishHover;
}

a {
  text-decoration: none;
}
