<div id="leftPanel">
  <div id="leftPanelWrapper" >
    <img src="./../../assets/logo.png" id="panelLogo">
    <div id="menu">
      <a [routerLink]="['/users']" routerLinkActive="activeMenuItem">
      <div class="menuItem" >
        <i class="far fa-fw fa-user"></i>
        Moja flota
      </div>
      </a>
      <a [routerLink]="['/vehicles']" routerLinkActive="activeMenuItem">
      <div class="menuItem" >
        <i class="far fa-fw fa-car"></i>
        Moje pojazdy
      </div>
      </a>
      <a [routerLink]="['/map']" routerLinkActive="activeMenuItem">
      <div class="menuItem" >
        <i class="far fa-fw fa-map-marker-alt"></i>
        Mapa
      </div>
      </a>
      <div class="menuItem" >
        <i class="far fa-fw fa-bell"></i>
        Powiadomienia
      </div>
      <a [routerLink]="['/ecodrive']" routerLinkActive="activeMenuItem">
      <div class="menuItem" >
        <i class="far fa-fw fa-trophy"></i>
        Punkty ekojazdy
      </div>
      </a>
      <div class="menuItem" >
        <i class="far fa-fw fa-shield-check"></i>
        Bezpieczeństwo
      </div>
      <div class="menuItem" >
        <i class="far fa-fw fa-chart-bar"></i>
        Raporty
      </div>
      <div class="menuItem" >
        <i class="far fa-fw fa-calendar-alt"></i>
        Kalendarz
      </div>
      <div class="menuItem" >
        <i class="far fa-fw fa-exclamation-triangle"></i>
        Awarie i naprawy
      </div>
    </div>
    <div id="leftPanelFooter">
      <a [routerLink]="['/settings']">
        <i class="far fa-cogs"></i>
      </a>
      <a (click)="logout()">
        <i class="far fa-sign-out"></i>
      </a>
    </div>
  </div>
</div>
