<app-leftpanel></app-leftpanel>
<div [ngClass]="userPopup==true ? 'shutItDown' : ''"></div>
<div class="main">
  <div id="searchBar">
    <div id="searchBarWrapper">
      <i class="far fa-search"></i>
      <input type="text" placeholder="Szukaj" (keydown.enter)="list(1, search.value)" #search>
    </div>
  </div>

  <div class="no-data" *ngIf="!listOfUsers">
    Brak użytkowników.
  </div>

  <div id="table">
    <table *ngIf="listOfUsers">
      <tr id="firstRow">
        <td>Ocena</td>
        <td>Kierowca</td>
        <td>Liczba tras</td>
        <td>Średnie spalanie</td>
        <td>Średnie obroty</td>
        <td>Średnia prędkość</td>
        <td></td>
      </tr>
      <tr *ngFor="let eco of listOfUsers.listOfUsers | sortEcoPoints">
        <td>
          <div [ngClass]="{'grade-none':eco.rate === 0.0, 'grade-bad':eco.rate > 0.0 && eco.rate < 2.5, 'grade-medium':eco.rate >= 2.5 && eco.rate < 3.5, 'grade-good':eco.rate >= 3.5}">
            <div class="grade-text">
              {{eco.rate | number : '1.1-1'}}
            </div>
          </div>
        </td>
        <td>
          <div class="name">
            {{eco.name}} {{eco.surname}}
          </div>
        </td>
        <td>{{eco.tracks}}</td>
        <td>{{eco.combustion}} l</td>
        <td>{{eco.revolutions}} RPM</td>
        <td>{{eco.speed}} km/h</td>
        <td><i class="far fa-info-circle" (click)="userId=eco.id; userPopup=true"></i></td>
      </tr>
    </table>
  </div>
  <div id="pages">
    <div id="pagesWrapper" *ngIf="listOfUsers">
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(1, search.value)" class="far fa-chevron-double-left"></i>
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(this.page-1, search.value)" class="far fa-chevron-left"></i>
      <div id="pagesText">
        strona {{page}} z {{pageMax}}
      </div>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.page+1, search.value)"  class="far fa-chevron-right"></i>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.pageMax, search.value)"  class="far fa-chevron-double-right"></i>
    </div>
  </div>
</div>
<app-ecodrive-user [id]="userId" [(popup)]="userPopup"></app-ecodrive-user>
