<app-leftpanel></app-leftpanel>
<div id="ecodrive">
  <div id="searchBar">
    <div id="searchBarWrapper">
      <i class="far fa-search"></i>
      <input type="text" placeholder="Szukaj">
    </div>
  </div>

  <div id="table">
    <table>
      <tr id="firstRow">
        <td>Ocena</td>
        <td>Kierowca</td>
        <td>Liczba tras</td>
        <td>Średnie spalanie</td>
        <td>Średnie obroty</td>
        <td>Średnia prędkość</td>
      </tr>
      <tr>
        <td>
          <div class="grade">
            <div class="grade-text">
              4.2
            </div>
          </div>
        </td>
        <td>
          <div class="name">
            Jan Kowalski
          </div>
        </td>
        <td>5</td>
        <td>6.5</td>
        <td>3214</td>
        <td>47 km/h</td>
      </tr>
      <tr>
        <td>
          <div class="grade">
            <div class="grade-text">
              4.2
            </div>
          </div>
        </td>
        <td>
          <div class="name">
            Jan Kowalski
          </div>
        </td>
        <td>5</td>
        <td>6.5</td>
        <td>3214</td>
        <td>47 km/h</td>
      </tr>
      <tr>
        <td>
          <div class="grade">
            <div class="grade-text">
              4.2
            </div>
          </div>
        </td>
        <td>
          <div class="name">
            Jan Kowalski
          </div>
        </td>
        <td>5</td>
        <td>6.5</td>
        <td>3214</td>
        <td>47 km/h</td>
      </tr>
    </table>
  </div>
  <div id="pages">
    <div id="pagesWrapper">
      <i class="far fa-chevron-double-left"></i>
      <i class="far fa-chevron-left"></i>
      <div id="pagesText">
        strona 1 z 1
      </div>
      <i class="far fa-chevron-right"></i>
      <i class="far fa-chevron-double-right"></i>
    </div>
  </div>
</div>
