<app-leftpanel></app-leftpanel>
<div [ngClass]="userPopup==true || chartPopup==true ? 'shutItDown' : ''"></div>
<div class="main">
  <div id="searchBar">
    <div id="searchBarWrapper">
      <i class="far fa-search"></i>
      <input type="text" placeholder="Szukaj" (keydown.enter)="list(1, search.value)" #search>
    </div>
  </div>

  <div class="header">
    <div id="chart-button" (click)="chartPopup=true">
      Wykres
    </div>
  </div>

  <div class="no-data" *ngIf="!listOfUsers">
    Brak użytkowników.
  </div>

  <div id="table">
    <table *ngIf="listOfUsers">
      <tr id="firstRow">
        <td>Ocena</td>
        <td>Kierowca</td>
        <td>Liczba tras</td>
        <td></td>
      </tr>
      <tr *ngFor="let safety of listOfUsers.listOfUsers | sortSafetyPoints">
        <td>
          <div [ngClass]="{'grade-none':safety.rate === 0.0, 'grade-bad':safety.rate > 0.0 && safety.rate < 2.5, 'grade-medium':safety.rate >= 2.5 && safety.rate < 3.5, 'grade-good':safety.rate >= 3.5}">
            <div class="grade-text">
              {{safety.rate | number : '1.1-1'}}
            </div>
          </div>
        </td>
        <td>
          <div class="name">
            {{safety.name}} {{safety.surname}}
          </div>
        </td>
        <td>{{safety.tracks}}</td>
        <td><i class="far fa-info-circle" (click)="userId=safety.id; userPopup=true"></i></td>
      </tr>
    </table>
  </div>
  <div id="pages">
    <div id="pagesWrapper" *ngIf="listOfUsers">
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(1, search.value)" class="far fa-chevron-double-left"></i>
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(this.page-1, search.value)" class="far fa-chevron-left"></i>
      <div id="pagesText">
        strona {{page}} z {{pageMax}}
      </div>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.page+1, search.value)"  class="far fa-chevron-right"></i>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.pageMax, search.value)"  class="far fa-chevron-double-right"></i>
    </div>
  </div>
</div>
<app-safety-user [id]="userId" [(popup)]="userPopup"></app-safety-user>
<app-safety-chart [regex]="search.value" [(popup)]="chartPopup"></app-safety-chart>
