@import "./../../styles.scss";

#ecodrive {
  width: 85%;
  height: 100vh;
  background-image: url("./../../assets/dots.png");
  float: left;
  box-sizing: border-box;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
}

#searchBar {
  width: 100%;
  box-sizing: border-box;
  padding: 1.11rem 2.22rem;
  margin-bottom: 2.78rem;
}

#searchBarWrapper {
  float: right;
  position: relative;
}

#searchBarWrapper > input {
  @include manropeFont(normal, 1rem);
  color: $ColorGrayDark;
  padding: 0.55rem 0.27rem 0.55rem 2.7rem;
  background: $ColorWhite;
  border-radius: 0.55rem;
  border: 0;
}

#searchBarWrapper > i {
  position: absolute;
  color: $ColorGrayDark;
  top: 0.75rem;
  left: 0.83rem;
  font-size: 1rem;
}

#pages {
  @include manropeFont(normal, 1rem);
  color: $ColorGrayDark;
  width: 100%;
  box-sizing: border-box;
  padding: 1.1rem 2.2rem;
  margin-top: 5.5rem;
  margin-bottom: 2.7rem;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 2.5rem;
}

#pagesWrapper {
  float: right;
  position: relative;
}

#pagesText {
  margin: 0 1.11rem;
  float: left;
}

#pagesWrapper > i {
  margin: 0 0.83rem;
  color: $ColorGrayDark;
  cursor: pointer;
  float: left;
  line-height: 2.5rem;
}

#firstRow > td {
  @include manropeFont(normal, 1.1rem);
  text-transform: uppercase;
  line-height: 50%;
  padding: 1.67rem;
  align-items: center;
  text-align: center;
  color: $ColorGrayDark;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
  table-layout: auto;
}

#table {
  width: 100%;
  box-sizing: border-box;
  padding: 0.55rem 1.67rem;
}

td {
  border-bottom: 0.11rem solid $ColorGrayBlueish;
  box-sizing: border-box;
  padding: 0.55rem 1.67rem;
  text-align: center;
  @include manropeFont(500, 1rem);
  color: $ColorGrayDark;
}

.name {
  @include manropeFont(600, 1.11rem);
  color: $ColorGrayDark;
}

.disableLink {
  color: rgba(106, 106, 106, 0.11) !important;
}

a {
  text-decoration: none;
}

td > i {
  color: $ColorGrayDark;
  font-size: 1.11rem;
  cursor: pointer;
}

td > i:hover {
  color: $ColorGrayDarkHover;
}
