<app-leftpanel></app-leftpanel>
<div class="popup" *ngIf="popupDelete" >
  <div class="popup-title">
    Uwaga
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Czy na pewno chcesz usunąć ten pojazd?
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="deleteDevice()">
      Tak
    </div>
    <div class="popup-red" (click)="popupDelete=false">
      Nie
    </div>
  </div>
</div>
<div [ngClass]="popupDelete==true ? 'shutItDown' : ''"></div>
<div class="popup" *ngIf="popupOk" >
  <div class="popup-title">
    Komunikat
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    {{ popupText }}
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popupOk=false" [routerLink]="['/vehicles']">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popupOk==true ? 'shutItDown' : ''"></div>
<div class="popup" *ngIf="popupFail" >
  <div class="popup-title">
    Error
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Wystąpił błąd.
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popupFail=false">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popupFail==true ? 'shutItDown' : ''"></div>
<div class="main" *ngIf="deviceInfo && configuration">
  <div id="content">
    <div class="panel">
      <div class="title">
        <i class="far fa-car"></i>
        Dane pojazdu
      </div>
      <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
      <div class="logo" [ngStyle]="{'background-image': 'url('+deviceInfo.image+')'}">
        <div (click)="fileInput.click()">
          <i class="far fa-pen"></i>
          Edytuj zdjęcie
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-car"></i>
          <input type="text" placeholder="Numer rejestracyjny" title="Numer rejestracyjny, litery i cyfry od 4 do 7 znaków." value="{{deviceInfo.licensePlate}}" #licensePlate>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-car"></i>
          <input type="text" placeholder="Marka" title="Marka, litery i cyfry od 2 do 15 znaków." value="{{deviceInfo.brand}}" #brand>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-car"></i>
          <input type="text" placeholder="Model" title="Model, litery i cyfry od 2 do 15 znaków." value="{{deviceInfo.model}}" #model>
        </div>
      </div>
      <div class="smallTitle">
        <i class="far fa-calendar-alt"></i>
        Godziny pracy:
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <div class="inputWrapper2">
            <input type="time" name="time" placeholder="od" title="Godzina w formacie gg:mm." value="{{deviceInfo.timeFrom}}" #timeFrom>
          </div>
          <div class="inputDivider">
            -
          </div>
          <div class="inputWrapper2">
            <input type="time" name="time" placeholder="do" title="Godzina w formacie gg:mm." value="{{deviceInfo.timeTo}}" #timeTo>
          </div>
        </div>
      </div>
    </div>
    <div class="panel2">
      <div class="smallTitle">
        Interwał wysyłania danych:
      </div>
      <div class="editContent">
        <div class="comboBoxWrapper">
          <select #sendInterval>
            <option value="-1" [selected]="configuration.sendInterval == -1">Globalne</option>
            <option value="15" [selected]="configuration.sendInterval == 15">15 sekund</option>
            <option value="30" [selected]="configuration.sendInterval == 30">30 sekund</option>
            <option value="60" [selected]="configuration.sendInterval == 60">1 minuta</option>
            <option value="180" [selected]="configuration.sendInterval == 180">3 minuty</option>
            <option value="300" [selected]="configuration.sendInterval == 300">5 minut</option>
          </select>
          <i class="fal fa-chevron-down"></i>
        </div>
      </div>
      <div class="smallTitle">
        Interwał wysyłania lokalizacji:
      </div>
      <div class="editContent">
        <div class="comboBoxWrapper">
          <select #locationInterval>
            <option value="-1" [selected]="configuration.locationInterval == -1">Globalne</option>
            <option value="5" [selected]="configuration.locationInterval == 5">5 sekund</option>
            <option value="10" [selected]="configuration.locationInterval == 10">10 sekund</option>
            <option value="15" [selected]="configuration.locationInterval == 15">15 sekund</option>
            <option value="0" [selected]="configuration.locationInterval == 0">Automatycznie</option>
          </select>
          <i class="fal fa-chevron-down"></i>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-calendar-alt"></i>
          <input type="text" placeholder="Rok produkcji" title="Rok produkcji, cztery cyfry." value="{{deviceInfo.yearOfProduction}}" #yearOfProduction>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-car"></i>
          <input type="text" placeholder="Silnik" title="Silnik, litery i cyfry od 2 do 30 znaków." value="{{deviceInfo.engine}}" #engine>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-gas-pump"></i>
          <input type="text" placeholder="Wielkość zbiornika" title="Wielkość zbiornika." value="{{deviceInfo.tank}}" #tank>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-gas-pump"></i>
          <input type="text" placeholder="Typ paliwa" title="Typ paliwa, litery i cyfry od 2 do 15 znaków." value="{{deviceInfo.fuel}}" #fuel>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-tachometer"></i>
          <input type="text" placeholder="Norma spalania" title="Norma spalania." value="{{deviceInfo.norm}}" #norm>
        </div>
      </div>
    </div>
  </div>
  <div id="buttons">
    <div id="acceptButton" (click)="sendData(timeFrom, licensePlate, timeTo, engine, fuel, yearOfProduction, model, tank, brand, norm, sendInterval.value, locationInterval.value)">
      Aktualizuj
    </div>
    <a [routerLink]="['/vehicles']">
      <div id="cancelButton">
        Anuluj
      </div>
    </a>
    <div id="deleteButton" (click)="popupDelete=true">
      Usuń
    </div>
  </div>
</div>
