<app-leftpanel></app-leftpanel>
<div id="editUser">
  <div id="content">
    <div class="panel">
      <div class="title">
        <i class="far fa-car"></i>
        Dane pojazdu
      </div>
      <div class="logo">
        <div>
          <i class="far fa-pen"></i>
          Edytuj zdjęcie
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-car"></i>
          <input type="text" placeholder="Numer rejestracyjny">
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Marka">
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Model">
        </div>
      </div>
    </div>
    <div class="panel2">
      <div class="smallTitle">
        Interwał wysyłania danych:
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <input type="text" placeholder="TEMP">
        </div>
      </div>
      <div class="smallTitle">
        <i class="far fa-calendar-alt"></i>
        Godziny pracy:
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <div class="inputWrapper2">
            <input type="text" placeholder="od">
          </div>
          <div class="inputDivider">
             -
          </div>
          <div class="inputWrapper2">
            <input type="text" placeholder="do">
          </div>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Rok produkcji">
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Silnik">
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Wielkość zbiornika">
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Typ paliwa">
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Norma spalania">
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <i class="far fa-map-marker-alt"></i>
        Strefy
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-search"></i>
          <input type="text" placeholder="Szukaj">
        </div>
      </div>
    </div>
  </div>
  <div id="buttons">
    <div id="acceptButton">
      Aktualizuj
    </div>
    <div id="cancelButton">
      Anuluj
    </div>
    <div id="deleteButton">
      Usuń
    </div>
  </div>
</div>
