<app-leftpanel></app-leftpanel>
<div class="popup" *ngIf="popupOk" >
  <div class="popup-title">
    Komunikat
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Pomyślnie zaktualizowano pojazd.
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popupOk=false" [routerLink]="['/vehicles']">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popupOk==true ? 'shutItDown' : ''"></div>
<div class="popup" *ngIf="popupFail" >
  <div class="popup-title">
    Error
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Wystąpił błąd.
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popupFail=false">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popupFail==true ? 'shutItDown' : ''"></div>
<div id="editUser" *ngIf="deviceInfo">
  <div id="content">
    <div class="panel">
      <div class="title">
        <i class="far fa-car"></i>
        Dane pojazdu
      </div>
      <div class="logo" [ngStyle]="{'background-image': 'url('+deviceInfo.image+')'}">
        <div>
          <i class="far fa-pen"></i>
          Edytuj zdjęcie
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-car"></i>
          <input type="text" placeholder="Numer rejestracyjny" value="{{deviceInfo.licensePlate}}" #licensePlate>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Marka" value="{{deviceInfo.brand}}" #brand>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Model" value="{{deviceInfo.model}}" #model>
        </div>
      </div>
    </div>
    <div class="panel2">
      <div class="smallTitle">
        Interwał wysyłania danych:
      </div>
      <div class="editContent">
        <div class="comboBoxWrapper">
          <select>
            <option value="15">15 sekund</option>
            <option value="30">30 sekund</option>
            <option value="60">1 minuta</option>
            <option value="180">3 minuty</option>
            <option value="300">5 minut</option>
          </select>
          <i class="fal fa-chevron-down"></i>
        </div>
      </div>
      <div class="smallTitle">
        <i class="far fa-calendar-alt"></i>
        Godziny pracy:
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <div class="inputWrapper2">
            <input type="text" placeholder="od" value="{{deviceInfo.timeFrom}}" #timeFrom>
          </div>
          <div class="inputDivider">
             -
          </div>
          <div class="inputWrapper2">
            <input type="text" placeholder="do" value="{{deviceInfo.timeTo}}" #timeTo>
          </div>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Rok produkcji" value="{{deviceInfo.yearOfProduction}}" #yearOfProduction>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Silnik" value="{{deviceInfo.engine}}" #engine>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Wielkość zbiornika" value="{{deviceInfo.tank}}" #tank>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Typ paliwa" value="{{deviceInfo.fuel}}" #fuel>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-pen"></i>
          <input type="text" placeholder="Norma spalania" value="{{deviceInfo.norm}}" #norm>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <i class="far fa-map-marker-alt"></i>
        Strefy
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-search"></i>
          <input type="text" placeholder="Szukaj">
        </div>
      </div>
    </div>
  </div>
  <div id="buttons">
    <div id="acceptButton" (click)="sendData(timeFrom.value, licensePlate.value, timeTo.value, engine.value, fuel.value, yearOfProduction.value, model.value, tank.valueAsNumber, brand.value, norm.valueAsNumber)">
      Aktualizuj
    </div>
    <a [routerLink]="['/vehicles']">
      <div id="cancelButton">
        Anuluj
      </div>
    </a>
    <div id="deleteButton">
      Usuń
    </div>
  </div>
</div>
