<app-leftpanel></app-leftpanel>
<div [ngClass]="addEventPopup==true || editEventPopup==true ? 'shutItDown' : ''"></div>
<div class="main-map">
  <div class="header">
    <div id="header-wrapper">
      <div id="generate-button" (click)="addEventPopup=true">
        Nowe zdarzenie
      </div>
    </div>
  </div>
  <div class="header">
    <div id="calendar-header-wrapper">
      <i class="far fa-chevron-left" mwlCalendarPreviousView
         [view]="view"
         [(viewDate)]="viewDate"
         (viewDateChange)="closeOpenMonthViewDay()"
          (click)="updateTime()"></i>
      <span mwlCalendarToday
           [(viewDate)]="viewDate">{{ viewDate | calendarDate:(view + 'ViewTitle'):'pl' }}
      </span>
      <i class="far fa-chevron-right" mwlCalendarNextView
         [view]="view"
         [(viewDate)]="viewDate"
         (viewDateChange)="closeOpenMonthViewDay()"
         (click)="updateTime()"></i>
    </div>
  </div>
  <div class="content_calendar">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      weekStartsOn="1"
    >
    </mwl-calendar-month-view>
  </div>
</div>
<app-add-event [(popup)]="addEventPopup" (eventAdd)="updateEvent()"></app-add-event>
<app-edit-event [(popup)]="editEventPopup"></app-edit-event>
