@import "./../../styles.scss";

.header {
  width: 100%;
  box-sizing: border-box;
  padding: 1.11rem 2.22rem;
  margin-bottom: 2rem;
}

#calendar-header-wrapper {
  @include manropeFont(500, 2rem);
  color: $ColorGrayDark;
  position: fixed;
  left: 57.5%;
  transform: translate(-57.5%, 0);
}

#calendar-header-wrapper > i {
  margin: 0 3rem;
  color: $ColorGrayDark;
  cursor: pointer;
}

#calendar-header-wrapper > i:hover {
  color: $ColorGrayDarkHover;
}

#generate-button {
  background: $ColorBlue;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0.72rem;
  @include manropeFont(500, 1rem);
  line-height: 2.11rem;
  color: $ColorWhite;
  box-sizing: border-box;
  padding: 0.56rem 3rem;
  text-align: center;
  cursor: pointer;
  float: right;
  margin: 0 0.56rem;
}

#generate-button:hover {
  background: $ColorBlueHover;
}

.content_calendar {
  padding: 2rem;
}

/***********************
    angular-calendar
 ***********************/

h3 {
  margin: 0 0 10px;
}

pre {
  padding: 15px;
}

.cal-header {
  @include manropeFont(700, 1.33rem);
  font-size: 1.33rem !important;
  color: $ColorGrayDark;
}

.cal-day-number {
  @include manropeFont(700, 1.11rem);
  color: $ColorGrayDark;
}

.cal-weekend .cal-day-number {
  color: $ColorGrayDark !important;
}

.content_calendar .cal-month-view .cal-day-badge {
  background-color: $ColorGrayBlueish;
}

.content_calendar .cal-month-view .cal-open-day-events {
  box-shadow: none;
}

.content_calendar .cal-month-view {
  background-color: transparent;
}

.content_calendar .cal-month-view > * {
  border: none;
}

.content_calendar .cal-cell {
  border: solid $ColorGrayBlueish 1px;
  border-bottom: none;
}

.content_calendar .cal-cell:not(:last-child) {
  border-right: none;
}

.content_calendar .cal-cell-row {
  border:none;
}

.content_calendar .cal-month-view {
  border-bottom: solid $ColorGrayBlueish 1px;
}

.content_calendar .cal-month-view .cal-cell-row:hover {
  background-color: $ColorGrayLight;
}

.content_calendar .cal-month-view .cal-cell-row .cal-cell:hover {
  background-color: $ColorWhiteHover;
}

.cal-month-view .cal-open-day-events {
  color: $ColorGrayDark;
  background-color: $ColorGrayCalendar;
  @include manropeFont(500, 1rem);
}

.fa, .fas {
  font-weight: 500;
  color: $ColorGrayDark;
  font-size: 1rem;
}

.fa, .fas:hover {
  color: $ColorGrayDarkHover;
}
@media screen and (max-width: 992px) {
  .main-map {
    width: 100% !important;
    margin-top: 7rem;
  }
  #calendar-header-wrapper {
    top: 0;
    width: 100%;
    text-align: center;
    position: relative;
    left: 57.5%;
    transform: translate(-57.5%, 0);
  }
}
