<app-leftpanel></app-leftpanel>
<div class="main">
  <div class="searchBar">
    <div class="inputWrapper">
      <i class="far fa-calendar-alt"></i>
      <input type="date" [(ngModel)]="dateToValue" (change)="list(1)">
    </div>
    <div class="inputDivider">
      -
    </div>
    <div class="inputWrapper">
      <i class="far fa-calendar-alt"></i>
      <input type="date" [(ngModel)]="dateFromValue" (change)="list(1)">
    </div>
  </div>

  <div class="no-data" *ngIf="!complete">
    <div class="lds-dual-ring"></div>
  </div>

  <div id="no-data" *ngIf="complete && Notifications.listOfNotification.length === 0">
    Brak powiadomień w danym przedziale czasowym.
  </div>

  <div id="table">
    <table *ngIf="complete && Notifications.listOfNotification.length > 0">
      <thead>
        <tr id="firstRow">
          <td class="col-notification">
            Powiadomienie
          </td>
          <td>Kierowca</td>
          <td>Czas</td>
          <td>Lokalizacja</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notification of Notifications.listOfNotification">
          <td>
            <div [ngClass]="{'alert-pink':notification.type === 'SPEEDING', 'alert-yellow':notification.type === 'LEAVING_THE_ZONE', 'alert-green':notification.type === 'placeholder'}">
              <div [ngSwitch]="notification.type">
                <i class="far fa-ban" *ngSwitchCase="'SPEEDING'"></i>
                <i class="far fa-info-circle" *ngSwitchCase="'LEAVING_THE_ZONE'"></i>
                <i class="far fa-shield-check" *ngSwitchCase="'placeholder'"></i>
              </div>
              <span *ngIf="notification.type === 'SPEEDING'">
                Przekroczenie dozwolonej prędkości o {{notification.value}} km/h.
              </span>
              <span *ngIf="notification.type === 'LEAVING_THE_ZONE'">
                Pojazd wyjechał ze strefy o {{notification.value}} m.
              </span>
            </div>
          </td>
          <td>
            <div class="driver">
              <div>
                <div class="name">
                  {{notification.userName}}
                </div>
                <div class="vehicle">
                  {{notification.deviceLicensePlate}}
                </div>
              </div>
            </div>
          </td>
          <td>{{notification.date * 1000 | date:'dd.MM.yyyy HH:mm'}}</td>
          <td>{{!notification.locationEncoded ? "Wczytywanie..." : notification.locationEncoded}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="pages">
    <div id="pagesWrapper" *ngIf="Notifications.listOfNotification.length > 0">
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(1)" class="far fa-chevron-double-left"></i>
      <i [ngClass]="page>1 ? '' : 'disableLink'" (click)="list(this.page-1)" class="far fa-chevron-left"></i>
      <div id="pagesText">
        strona {{page}} z {{pageMax}}
      </div>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.page+1)"  class="far fa-chevron-right"></i>
      <i [ngClass]="page==pageMax ? 'disableLink' : ''" (click)="list(this.pageMax)"  class="far fa-chevron-double-right"></i>
    </div>
  </div>

</div>
