<app-leftpanel></app-leftpanel>
<div class="popup" *ngIf="popup" >
  <div class="popup-title">
    Komunikat
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Pomyślnie zmieniono hasło.
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popup=false">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popup==true ? 'shutItDown' : ''"></div>
<div class="popup" *ngIf="popupOk" >
  <div class="popup-title">
    Komunikat
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Pomyślnie zaktualizowano zmiany.
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popupOk=false">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popupOk==true ? 'shutItDown' : ''"></div>
<div class="popup" *ngIf="popupFail" >
  <div class="popup-title">
    Error
  </div>
  <div class="popup-line"></div>
  <div class="popup-text">
    Wystąpił błąd.
  </div>
  <div class="popup-footer">
    <div class="popup-green" (click)="popupFail=false">
      Ok
    </div>
  </div>
</div>
<div [ngClass]="popupFail==true || addUserPopup==true || addZonePopup==true ? 'shutItDown' : ''"></div>
<div class="main">
    <div class="panel">
      <div id="title">
        <i class="far fa-shield-check"></i>
        Zmiana hasła
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-key"></i>
          <input type="password" placeholder="Nowe hasło" #first>
        </div>
      </div>
      <div class="editContent">
        <div class="inputWrapper">
          <i class="far fa-key"></i>
          <input type="password" placeholder="Powtórz nowe hasło" #second>
        </div>
      </div>
      <div class="acceptButton" (click)="changePassword(first, second)">
        Aktualizuj hasło
      </div>
    </div>
    <div class="panel" *ngIf="globalConfiguration">
      <div class="editButton">
        <div class="addButton" (click)="addUserPopup=true">
          Dodaj użytkownika
        </div>
        <div class="addButton" (click)="addZonePopup=true">
          Dodaj strefę
        </div>
      </div>
      <div class="set">
        <div class="smallTitle">
          Czas przechowywania historii:
        </div>
        <div class="smallTitle">
          Interwał wysyłania danych:
        </div>
        <div class="smallTitle">
          Interwał wysyłania lokalizacji:
        </div>
      </div>
      <div class="set">
        <div class="comboBoxWrapper">
          <select #historyTimeout>
            <option value="10" [selected]="globalConfiguration.historyTimeout == 10">10 dni</option>
            <option value="15" [selected]="globalConfiguration.historyTimeout == 15">15 dni</option>
            <option value="30" [selected]="globalConfiguration.historyTimeout == 30">Miesiąc</option>
            <option value="90" [selected]="globalConfiguration.historyTimeout == 90">3 miesiące</option>
            <option value="180" [selected]="globalConfiguration.historyTimeout == 180">6 miesięcy</option>
            <option value="0" [selected]="globalConfiguration.historyTimeout == 0">Bez ograniczeń</option>
          </select>
          <i class="fal fa-chevron-down"></i>
        </div>
        <div class="comboBoxWrapper">
          <select #sendInterval>
            <option value="15" [selected]="globalConfiguration.sendInterval == 15">15 sekund</option>
            <option value="30" [selected]="globalConfiguration.sendInterval == 30">30 sekund</option>
            <option value="60" [selected]="globalConfiguration.sendInterval == 60">1 minuta</option>
            <option value="180" [selected]="globalConfiguration.sendInterval == 180">3 minuty</option>
            <option value="300" [selected]="globalConfiguration.sendInterval == 300">5 minut</option>
          </select>
          <i class="fal fa-chevron-down"></i>
        </div>
        <div class="comboBoxWrapper">
          <select #locationInterval>
            <option value="5" [selected]="globalConfiguration.getLocationInterval == 5">5 sekund</option>
            <option value="10" [selected]="globalConfiguration.getLocationInterval == 10">10 sekund</option>
            <option value="15" [selected]="globalConfiguration.getLocationInterval == 15">15 sekund</option>
            <option value="0" [selected]="globalConfiguration.getLocationInterval == 0">Automatycznie</option>
          </select>
          <i class="fal fa-chevron-down"></i>
        </div>
      </div>
      <div id="editButton2" (click)="sendData(historyTimeout.value, sendInterval.value, locationInterval.value)">
        <div class="acceptButton">
          Zapisz zmiany
        </div>
      </div>
    </div>
</div>
<app-add-user [(popup)]="addUserPopup"></app-add-user>
<app-add-zone [(popup)]="addZonePopup"></app-add-zone>
